<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <div class="col-md-12">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Trending</h4>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card" style="width: 20rem;">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.
                                </p>
                                <a href="#" class="btn btn-primary">View</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" style="width: 20rem;">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.
                                </p>
                                <a href="#" class="btn btn-primary">View</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card " style="width: 20rem;">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.
                                </p>
                                <a href="#" class="btn btn-primary">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content">
                <div class="container-fluid">
                    <div class="card card-plain">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title">Recommended</h4>
                            <!-- <p class="card-category">Handcrafted by our friends from
                              <a target="_blank" href="https://fonts.google.com/icons">Google</a>
                          </p> -->
                        </div>

                        <!-- <div class="row">
              <div class="col-md-12">
                  <div class="card-body">
                      <div class="iframe-container d-none d-lg-block">
                          <iframe src="https://material.io/design/iconography/system-icons.html#grid-and-keyline-shapes">
                              <p>Your browser does not support iframes.</p>
                          </iframe>
                      </div>
                      <div class="col-md-12 d-none d-sm-block d-md-block d-lg-none d-block d-sm-none text-center ml-auto mr-auto">
                          <h5>The icons are visible on Desktop mode inside an iframe. Since the iframe is not working on Mobile and Tablets please visit the icons on their original page on Google. Check the
                              <a href="https://fonts.google.com/icons" target="_blank">Material Icons</a>
                          </h5>
                      </div>
                  </div>
              </div>
          </div> -->
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top"
                                    src="https://images.pexels.com/photos/2607544/pexels-photo-2607544.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Restro Photo </h5>
                                    <p class="card-text">Restore old and blurry photos with AI.
                                        <a routerLink="/toolDetail"
                                class="btn btn-primary">View</a>
                                </div>
                            
                            
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top"
                                    src="https://hips.hearstapps.com/hmg-prod/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg?crop=1xw:0.74975xh;center,top&resize=1200:*"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">AI Backdrop </h5>
                                    <p class="card-text">Generate Realistic backgrounds for your product photos in
                                        seconds.</p>
                                    <a href=" https://www.zmo.ai/background-ai/" class="btn btn-primary">View</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top"
                                    src="https://rukminim2.flixcart.com/image/850/1000/l071d3k0/poster/q/u/k/medium-cute-dogs-cute-puppies-pomeranian-fulffy-dog-golden-original-imagcf8wgyxqkeuf.jpeg?q=90"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Bark</h5>
                                    <p class="card-text">Bark can generate highly realistic, multilingual speech as well
                                        as other
                                        audio including music, background noise, and simple sound effects.</p>
                                    <a href="https://www.zmo.ai/background-ai/" class="btn btn-primary">View</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top"
                                    src="https://img.freepik.com/free-photo/puppy-that-is-walking-snow_1340-37228.jpg"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Eleven labs</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of
                                        the
                                        card's content.</p>
                                    <a href=" https://elevenlabs.io/ " class="btn btn-primary">View</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top"
                                    src="https://wallpapers.com/images/hd/puppy-dog-on-grass-with-pink-flowers-dbnq4xksbn8v4usm.jpg"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Definite</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of
                                        the
                                        card's content.</p>
                                    <a href=" https://www.definite.app/" class="btn btn-primary">View</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top"
                                    src="https://img.freepik.com/premium-photo/beautiful-baby-dog_943963-405.jpg"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Pic Finder</h5>
                                    <p class="card-text">An infinite image generation tool that's free
                                        forever.PicFinder:AI stands
                                        out as a distinct, web-supported AI tool that transforms text into
                                        images, providing users with the capacity to generate as many as 100 images in a
                                        matter of
                                        seconds from a mere text description.</p>
                                    <a href="  https://picfinder.ai/" class="btn btn-primary">View</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="angular.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title"> Boxy </h5>
                                    <p class="card-text">Boxy is an AI coding companion designed to assist and support
                                        developers
                                        within the CodeSandbox environment..</p>
                                    <a href=" https://codesandbox.io/blog/meet-boxy-ai-coding-assistant"
                                        class="btn btn-primary">View</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="angular.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title"> Codeium </h5>
                                    <p class="card-text">A Free AI-Powered Toolkit for Developers.</p>
                                    <a href=" https://codeium.com/%E2%80%9D" class="btn btn-primary">View</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="angular.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">GitFluence</h5>
                                    <p class="card-text">The AI-driven solution that helps you quickly find the right
                                        git command.
                                        Get started with Git Command Generator today and save time.</p>
                                    <a href=" https://aws.amazon.com/codewhisperer/" class="btn btn-primary">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>